.about-heading {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #083E9E;
    font-weight: bold;
    margin-top: 150px;
}

.about-text {
    text-align: justify;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}