.first-section {
    width: 100%;
    height: 100vh;
    background-image: url('../images/woman-bg.png');
    background-size: 100% 100%;
}

.inner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

.intro-txt h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -2px;
    font-weight: bold;
    color: #083E9E;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    float: left;
    width: 50%;
}