.first-section {
    width: 100%;
    height: 100vh;
    background-image: url('../images/woman-bg.png');
    background-size: 100% 100%;
}

.inner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

.intro-txt h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -2px;
    font-weight: bold;
    color: #083E9E;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    float: left;
    width: 50%;
}

.myBtn {
    padding: 15px 40px !important;
    /* display: inline-block; */
    background: #30c57b;
    border: 1px solid #30c57b;
    color: #fff;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    float: left;
    margin-top: 20px;
    font-weight: 600;
}

.myBtn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #083E9E;
    font-weight: 600;
    border: 1px solid #083E9E;
}

.second-section {
    background-color: #fbfbfb;
    width: 100%;
    height: auto;
}

.second-section-heading {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #083E9E;
    font-weight: bold;
}

.second-section-text {
    color: #627081;
    font-size: 18px;
}

.card-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #083E9E;
    font-weight: bold;
    text-align: left;
}

.card-text {
    font-size: 16px;
    line-height: 22px;
    color: #616161;
    text-align: left;
}

.fourth-section {
    background-color: #083E9E;
    color: #fff;
    height: auto;
}

.fourth-section-heading {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.fourth-section-text {
    font-size: 18px;
}