.my-request-heading {
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.my-request-card {
    background-color: aliceblue;
    
}

.req-title {
    text-transform: capitalize;
}

.hr{
    width: 98%;
    margin-top: 0px;
}
.req-by, .req-type, .req-description, .req-title {
    text-align: left;
    margin: 0px;
}

.req-link {
    text-align: left;
}

.num-of-helpers {
    /* font-size: 20px; */
    font-weight: 600;
}