.nav-link, .navbar-brand{
    color: #083E9E !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.action-btn:hover{
    color: #fff !important;
}

.other-btn:hover {
    color: #1a622a !important;
}