.single-banner {
    width: 100%;
}

.request-title{
    line-height: 30px;
    color: #083E9E;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}

.about-req-by, .about-req-type, .about-req-description, .about-req-created {
    text-align: left;
    margin: 0px;
}

.about-volunteers h5 {
    text-align: left;
}


/* Map styles */
.map-req-title, .map-req-by, .map-req-type{
    margin: 0px !important;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}